{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if show_upload_button %}
        <li>
            <a href="{% url 'admin:catalog_autokontinentproduct_upload_price' %}" class="addlink">
                📊 Загрузить прайс
            </a>
        </li>
        <li>
            <a href="{% url 'admin:catalog_autokontinentproduct_update_brands' %}" class="addlink">
                🔄 Обновить бренды
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %} 